button {
  background-color: #4CAF50;
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 2px;
  width: 12%;
}

.info {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.diagTable {
  width: 12%;
  border-radius: 2px;
}
